

@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You</h2>

<p>Thank you for contacting us! We have received your message and will respond to you as soon as possible.</p>

